:root {
    --primary-color: #BF4E4A; /*191, 78, 74*/
    --primary-dark: #A23430; /*162, 52, 48*/
    --primary-light: #D8736F; /*216, 115, 111*/

    --secondary-pink-color: #DA627D; /*218, 98, 125*/
    --secondary-pink-darker: #D85A75; /*216, 90, 117*/
    --secondary-pink-lighter: #E07B91; /*224, 123, 145*/

    --secondary-purple-color: #9B7EDE; /*155, 126, 222*/
    --secondary-purple-darker: #8E6DD9; /*142, 109, 217*/
    --secondary-purple-lighter: #A78DE2; /*167, 141, 226*/

    --secondary-black-color: #1C1D21; /*28, 29, 33*/
    --secondary-black-darker: #131316; /*19, 19, 22*/
    --secondary-black-lighter: #26272C; /*38, 39, 44*/

    --secondary-white-color: #FDF7FA; /*253, 247, 250*/

    --soft-compound-color: #BF4E4A;
    --medium-compound-color: #FFD639;
    --hard-compound-color: #FDF7FA;
    --intermediate-compound-color: #06B25F;
    --wet-compound-color: #263FA6;
}

html, body {
    color: var(--secondary-white-color);
    font-family: "Open Sans", sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
html{
    background: radial-gradient(ellipse 80% 60% at 50% 0%, rgba(162, 52, 48, 0.25), transparent 70%), rgba(19, 19, 22, 1);
}
html::-webkit-scrollbar {
  width: 0.7vw;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--secondary-black-color);
  border-radius: 2vw;
}
html::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(135deg, var(--primary-dark), var(--secondary-pink-lighter));
}
header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    flex: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
ul, ol{
    margin:0;
    padding: 0;
    list-style: none;
}
p{
    margin: 0;
}
a{
    text-decoration:none;
}
button{
    cursor:pointer;
    font-family: "Open Sans", sans-serif;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: radial-gradient(ellipse 80% 60% at 50% 0%, rgba(162, 52, 48, 0.25), transparent 70%), rgba(19, 19, 22, 1);
    z-index: -2;
}

.title{
    margin: 1vh;
    text-align: center;
    font-size: 6vw;
    line-height: 1em;
    color: var(--secondary-white-color);
    margin:0;
}
.title-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 5vw;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5vw;
    overflow: hidden;
    margin-top: 5vh
}
.highlight{
    color:var(--primary-color);
}

.menu {
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    overflow: hidden;
    width: 60vw;
    gap: 3vh;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3vw;
    padding: 3vh 2vw;
    margin: 5vh 2.5vw;
}

.top-bar{
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    object-fit: contain;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 1.5vw;
    padding: 1vh 1.5vw;
}
.lap-counter{
    flex:1;
    font-size: 2vw;
    font-weight: 600;
}

.grid-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 2vw;
    padding: 4vh 2vw;
    box-sizing: border-box;
}
.list-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

#column1 .driver-card{
    background-image: linear-gradient(135deg, var(--secondary-black-color), var(--secondary-black-lighter));
}
#column2 .driver-card{
    background-image: linear-gradient(315deg, var(--secondary-black-color), var(--secondary-black-lighter));
}

.driver-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-radius: 0.75vw;
    height: 2.5vh;
    width: 20vw;
    padding: 1vh 1vw;
}
.driver-card:hover{
    transform: scale(1.1);
}
.driver-card.fastest{
    border: 0.1vw solid var(--secondary-purple-color);
    border-radius: 10px;
}
.driver-card.dnf {
    opacity: 0.5;
    filter: grayscale(75%);
}
.driver-card.dnf:hover {
    transform: scale(0.9);
}

.image-wrap{
    box-sizing:border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.team-logo{
    height: 100%;
    width: 100%;
}

.compound{
    font-weight: 700;
}
#soft{
    color: var(--soft-compound-color);
}
#medium{
    color: var(--medium-compound-color);
}
#hard{
    color: var(--hard-compound-color);
}
#intermediate{
    color: var(--intermediate-compound-color);
}
#wet{
    color: var(--wet-compound-color);
}

.button-wrap{
    overflow: hidden;
    object-fit: contain;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    width: 100%;
    background: rgba(0,0,0,0.3);
    border-radius: 2vw;
    padding: 1.5vh 2vw;
}

.social{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
    background: rgba(0, 0, 0, 0.3);
    padding: 1.5vh 1vw;
    border-radius: 2vw;
}
.logo{
    height: 2.3vh;
    width: auto;
    padding: 0;
}
.logo:hover{
    transform: scale(1.5); 
    background-image: linear-gradient(135deg, var(--secondary-pink-color), var(--secondary-purple-color));
    padding: 0.2vw;
    border-radius: 0.6vw;
}
.logo-wrap{
    display: flex;            
    justify-content: center;  
}

#race-button, #gap-button{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--secondary-white-color);
    border:none;
    background-image: linear-gradient(135deg, var(--secondary-black-color), var(--secondary-black-lighter));
    padding: 0.5vh 2vw;
}
#race-button{
    font-size: 2vw;
    font-weight: 600;
    border-radius: 1.5vw;
    height: 5vh;
}
#gap-button{
    font-size: 1.5vw;
    border-radius: 1.25vw;

}
#race-button::before, #gap-button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-image: linear-gradient(135deg, var(--primary-dark), var(--secondary-pink-lighter));
    transition: width 0.4s ease;
    z-index:-1;
}
#race-button::before{
    border-radius: 1.5vw;
}
#gap-button::before{
    border-radius: 1.25vw;
}
#race-button:disabled, #gap-button:disabled, #settings-button:disabled{
    opacity: 0.5;
    filter: grayscale(75%);
}
#race-button:not(:disabled):hover, #gap-button:not(:disabled):hover{
    transform: scale(1.1);
}
#race-button:not(:disabled):hover::before, #gap-button:not(:disabled):hover::before{
    width: 100%;
}
#race-button:disabled:hover, #gap-button:disabled:hover, #settings-button:disabled:hover{
    transform: scale(0.9);
    cursor: not-allowed;
}
#settings-button{
    box-sizing: border-box;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;   
    right: 0;
    background-image: linear-gradient(135deg, var(--secondary-black-color), var(--secondary-black-lighter));
    border-radius: 1vw; 
    height: 5vh;
    padding: 0;
}
#settings-button svg{
    width: 100%;
    height: 100%;
}
#settings-button:not(:disabled):hover{
    transform: scale(1.25); 
    background-image: linear-gradient(135deg, var(--secondary-pink-color), var(--secondary-purple-color));
    padding: 0.25vw;
}
#settings-button:not(:disabled):hover svg{
    transform: scale(1.25); 
}

#annotation{
    color: var(--secondary-white-color);
    font-size: 2vh;
    font-weight:600;
    text-align: center;
    margin:0;
} 


* {
    transition: all 0.2s ease-out;
}